# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio
.vs/
*.csproj
*.sln
*.slnx
*.user
*.userprefs

# Unity generated debug information
[Bb]urst[Dd]ebug[Ii]nformation_*/


# OS files
.DS_Store
Thumbs.db

# APK builds
*.apk
*.aab

.utmp/
LAN_TDM_BurstDebugInformation_DoNotShip/